@model PigBob.Models.LoginModel

@{
    ViewBag.Title = "Log In";
}

<h2>Log In</h2>
<p>
    Please enter your user name and password. @Html.ActionLink("Register", "Register") if you don't have an account.
</p>

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) {
    <div class="twocolform">
    <div class="leftcolumn">
        <fieldset>
            <legend>Sign in Old Skool</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                <label for="RememberMe" class="checkbox">Remember me?</label>
            </div>

            <p>
                <input type="submit" value="Log On" />
            </p>
        </fieldset>
    </div>

    <div class="rightcolumn">
        <fieldset>
            <legend>Sign in with Google</legend>
            <div class="editor-field">
                <a href="@Url.Action("OpenIdLogOn", "Account", new RouteValueDictionary(new { returnUrl = ViewContext.HttpContext.Request["ReturnUrl"] }))">
                    <img src="@Url.Content("~/Images/google-logo.jpg")" height="50px" width="50px" style="margin: 1em 0 0;" />
                </a>
            </div>
        </fieldset>
    </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("form :input[type='text']:enabled:first").focus();
        });
    </script>
}
