@model PigBob.Models.OrderItem

@{
    ViewBag.Title = "Edit Your Pig Order";
}

<h2>Edit Your Pig Order for @Model.Order.OrderDate.ToLongDateString()</h2>

@if (Model.Eater.UserId == ViewBag.UserId)
{
    using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Sandwich Composition</legend>

            @Html.HiddenFor(model => model.ID)

            <div class="editor-label">
                @Html.LabelFor(model => model.Bacon)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Bacon)
                @Html.ValidationMessageFor(model => model.Bacon)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Sausage)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Sausage)
                @Html.ValidationMessageFor(model => model.Sausage)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Egg)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Egg)
                @Html.ValidationMessageFor(model => model.Egg)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Other)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Other)
                @Html.ValidationMessageFor(model => model.Other)
            </div>

            @Html.HiddenFor(model => model.OrderID)

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
}
else
{
    <h3 style="color: Red">You are not authorised to edit this sandwich. Please stop trying to hack me</h3>
}

<div>
    @Html.ActionLink("Back to Order", "Index", new { id = Model.OrderID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}