@model IEnumerable<PigBob.Models.OrderItem>
@{
    ViewBag.Title = "Sandwiches for " + ViewBag.OrderDate.ToShortDateString();
}

<script src="@Url.Content("~/Scripts/Print.js")" type="text/javascript"></script>

<h2>@ViewBag.Title</h2>

@if (ViewBag.OrderDate >= DateTime.Now.AddHours(-8))
{
    <p>
        @Html.ActionLink("Add a Sandwich", "Create", new { id = ViewBag.OrderId }, new { data_role = "button", data_icon = "plus", data_iconpos = "right" })
    </p>
}

@if(ViewBag.Total > 0) {
    <ul data-role="listview" data-inset="true">
        @if (ViewBag.Sausage > 0)
        {
            <li>
                Sausage Only <div class="ui-li-count">@ViewBag.Sausage</div>
            </li>
        }
        @if (ViewBag.Bacon > 0)
        {
            <li>
                Bacon Only <div class="ui-li-count">@ViewBag.Bacon</div>
            </li>
        }
        @if (ViewBag.Egg > 0)
        {
            <li>
                Egg Only <div class="ui-li-count">@ViewBag.Egg</div>
            </li>
        }
        @if (ViewBag.SausageEgg > 0)
        {
            <li>
                Sausage and Egg <div class="ui-li-count">@ViewBag.SausageEgg</div>
            </li>
        }
        @if (ViewBag.BaconEgg > 0)
        {
            <li>
                Bacon and Egg <div class="ui-li-count">@ViewBag.BaconEgg</div>
            </li>
        }
        @if (ViewBag.SausageBacon > 0)
        {
            <li>
                Sausage and Bacon <div class="ui-li-count">@ViewBag.SausageBacon</div>
            </li>
        }
        @if (ViewBag.SausageBaconEgg > 0)
        {
            <li>
                Sausage, Bacon, and Egg <div class="ui-li-count">@ViewBag.SausageBaconEgg</div>
            </li>
        }
        @if (ViewBag.Other > 0)
        {
            int i = 0;
         
            foreach (string item in ViewBag.OtherItems)
            {
                <li>
                    @item <div class="ui-li-count">1</div>
                </li>
            }
        }
    </ul>
    <div style="margin: 20px 0;">
    <div class="ui-grid-a ui-body ui-body-c">
        <strong>
        <div class="ui-block-a">Order Total</div>
        <div class="ui-block-b">@(ViewBag.Total == 1 ? ViewBag.Total + " sandwich" : ViewBag.Total + " sandwiches")</div>
        </strong>
    </div>
    </div>
}

<div data-role="collapsible">
    <h3>Order Details</h3>
    <table>
        <tr>
            <th>
                Pig Eater
            </th>
            <th>
                Bacon
            </th>
            <th>
                Sausage
            </th>
            <th>
                Egg
            </th>
            <th>
                Other
            </th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Eater.UserId == ViewBag.UserId)
                {
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.Eater.FirstName).ToHtmlString().Substring(0,1) + Html.DisplayFor(modelIitem => item.Eater.LastName), "Edit", new { id = item.ID })
                }
                else
                {
                @Html.DisplayFor(modelItem => item.Eater.FirstName).ToHtmlString().Substring(0,1) @Html.DisplayFor(modelIitem => item.Eater.LastName)
                }
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Bacon, new { data_theme = "a" })
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Sausage, new { data_theme = "a" })
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Egg, new { data_theme = "a" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)
            </td>
        </tr>
    }

    </table>
</div>
<input type="button" onclick="getPrint('summary', '@(ViewBag.OrderDate.ToLongDateString())');" value="Print Order" />